
@import 'base';

/* Add styles here */

//  Global variable scope

$brand-color: hsl(186, 64.52%, 48.63%);


.navbar {
  $height: 60px;
  align-items: center;
  background-color: hsl(212.5, 10.26%, 45.88%);
  display: flex;
  height: $height;
  border-bottom: 5px solid $brand-color;
  
  &::before {
    content: ' ';
    position: absolute;
    top: 0px;
    width: 100%;

  
  }

  .logo {
    flex-grow: 1;
    height: 190%;
    align-items: center;
    display: flex;
    padding-left: 1rem;
  }
  .nav {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  

  .menu-item {
    border-bottom: 2px solid transparent;
    color: darken(desaturate($brand-color, 40%), 20%);
    flex-grow: 1;
    letter-spacing: 0.5px;
    line-height: $height; 
    height: $height;
    text-align: center;
    text-transform: uppercase;
    color: white;

  &:hover {
      background-color: hsla(0, 0%, 94%, 0.452);
      cursor: pointer;
      }

      &.active {
        border-color:lighten(desaturate($brand-color, 30%), 20%);
        border-bottom: 7px solid $brand-color;
      }
    }
  }
  img {
    height: calc(100% - 1.5rem);
    width: auto;

  }
  
  
}

